<%= render 'layouts/nav' %>
<div class="center">
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">1. Uploading</h4>
    <p class="list-group-item-text">adjaldjal;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja</p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">2. Paying </h4>
    <p class="list-group-item-text">adjaldjal;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">3. Confirmation</h4>
    <p class="list-group-item-text">adjaldjal;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja;dja</p>
  </a>
</div>
</div>