<%= render 'layouts/nav' %>
<div class="center">
<div class="list-group">
  <a href="#" class="list-group-item">
    <h2 class="list-group-item-heading">1. Uploading</h2>
    <h4 class="list-group-item-text">Userlogs in to WeBill using the credentials obtained from the registration system.
The user will be given an interface to upload a photo of the electricity meter within certain windows
of time every month</h4>
  </a>
  <a href="#" class="list-group-item active">
    <h2 class="list-group-item-heading">2. Paying </h2>
    <h4 class="list-group-item-text">Upon verifying the ID from the QR code included in the photo, WeBill obtains
the meter reading from the photo, prompt the user to verify it, calculate the consumption by
subtracting the current reading from the previous one, and generate the new bill</h4>
  </a>
  <a href="#" class="list-group-item">
    <h2 class="list-group-item-heading">3. Confirmation</h2>
    <h4 class="list-group-item-text">WeBill will keep
records of the consumption for 5 years and crease them after that if there is no indication of
importance. Customers will be able to upload photos of the their electricity meters one time a
month.</h4>
  </a>
</div>
</div>