<div>
  <p>Dear <b><%= current_user %></b>,<br>
  Your electricity bill payment has been well received </p><br>
  <span>you paid <%= @amount %> </span><br>
  <p>if you think you've received this email by mistake, get back to us via <strong>info@cleanergy.com</strong></p>
</div>