<div class="site-wrapper">

 <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cleanergy</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">WeBill</a></li>
              <li><a href="#">How to</a></li>
              <li><a href="#">Contact</a></li>
              <li>
                  <% if user_signed_in? %>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path %>
                  <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Web Billing.</h1>
        <p class="lead">Cleanergy is introducing a new way for generating electricity bills by involving you in the process. Participating customers receive a discount on their bills.</p>
        <p class="lead">
          <button class="btn btn-lg btn-default" data-toggle="modal" data-target="#uploadModal">Get your Bill</button>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright <%= Time.now.year %> <a href="#">Cleanergy</a>, by <a href="https://twitter.com/eyewritecode">Thibault</a>.</p>
        </div>
      </div>

    </div>

 </div>

</div>

 <!-- Modal -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Upload your meter number picture!</h4>
        </div>
        <div class="modal-body">
         <%= render 'upload_form' %>
        </div>
        <div class="modal-footer">
        	<p align="center" style="color: red;">
        		<span class="glyphicon glyphicon-warning-sign" aria-hidden='true'></span> Please make sure the file is a .jpg or .png format.
        	</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

