
<p>
  <strong>Meter number:</strong>
  29074292977
</p>

<p>
  <strong>Meter image:</strong>
  <%= image_tag @billing.pic.url() %>
</p>

<%= link_to 'Edit', edit_billing_path(@billing) %> |
<%= link_to 'Back', billings_path %>
