
<p>
  <strong>Meter number:</strong>
  <%= RTesseract.new("#{Rails.root}/public/uploads/#{@billing.class.to_s.underscore}/pic/#{@billing.id}/#{@billing.pic.file.filename}", lang: "eng").to_s %>
</p>

<p>
  <strong>Meter image:</strong>
  <%= image_tag @billing.pic.url() %>
</p>

<%= link_to 'Edit', edit_billing_path(@billing) %> |
<%= link_to 'Back', billings_path %>
