<div class="site-wrapper">

 <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cleanergy</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">WeBill</a></li>
              <li><%= link_to "How To", pages_howto_path %></li>
              <li><%= link_to "Contact", pages_contact_path %></li>
              <li>
                  <% if user_signed_in? || admin_signed_in? %>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
                  <% else %>
                    <%= link_to "Sign in", new_user_session_path %>
                  <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>